<!-- <app-homecomponent></app-homecomponent> -->
<div class="bgimg">
    <div class="card"
      style="height: 400px; width: 350px; position: sticky; top: 120px ; left:600px; background-color: rgba(222, 222, 222, .5); border-radius: 10px;">
      <div class="card-body">
        <h5 class="card-title"
          style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">DRIVER LOGIN</h5>
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
            <form (ngSubmit)='checkLogin()' #addForm="ngForm" >
              <!-- <div class="form-group">
                
                <label>User Name</label><br>
                <input class="form-control" type="text" #email=ngModel [(ngModel)]=customer.email name="email" placeholder="Enter Username"  pattern="[a-zA-z.0-9]{3,}@[a-z]{3,}.[a-z]{2,}" >
                <span *ngIf="email.touched && email.invalid" class="alert-danger" style="text-align: center;">invalid email Id!</span>
                <br>
              </div> -->
              
              <div class="form-group">
                  <label>Enter Your E-Mail:</label><br>
                  <input type="text" class="form-control" [(ngModel)]=driver.email name="Email"
                    placeholder="abc@mail.com" #email=ngModel pattern="[a-z0-9]+@[a-z]+.[a-z]{3,5}"
                    required>
                  <span *ngIf="email.touched && email.invalid && (email.errors.required || email.errors.pattern)"
                    class="alert-warning">
                    <p class="error-div" style="color:red ">Invalid E-mail</p>
                  </span>
                  <hr>
                </div>
              <!-- <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" #password=ngModel [(ngModel)]=customer.password name="password" placeholder="Enter Password"  pattern="[0-9]{4,}" >
                <span *ngIf="password.touched && password.invalid" class="alert-danger" style="text-align: center;">invalid password!</span>
                <br>
              </div> -->
              <div class="form-group">
                  <label>Enter Your Password: </label><br>
                  <input type="password" class="form-control" [(ngModel)]=driver.password name="Password"
                    placeholder="Enter Password" #password=ngModel pattern="[0-9]{4,8}" required>
                  <span
                    *ngIf="password.touched && password.invalid && (password.errors.required || password.errors.pattern)"
                    class="alert-warning">
                    <p class="error-div" style="color:red ">Invalid Password</p>
                  </span>
                  <hr>
                </div>
              
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-4"></div>
                  <div class="col-xs-7">
                    <button class="btn btn-success" type="submit" [disabled]="!addForm.valid">Login</button>
                  </div>
                  <div class="col-sx-1"></div>
                </div>
              </div>
            </form>
        


            <div class="row">
              <div class="col-xs-12">
                <p style="text-align: center;">Register As</p>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-xs-4">
                <button class="btn btn-primary" (click)="registerUser()">User</button>
              </div> -->
              <div class="col-xs-4"></div>
              <div class="col-xs-4">
                <button class="btn btn-primary" (click)="registerDriver()">Driver</button>
              </div>
            </div>
            <div class="col-xs-2"></div>
          </div>
        </div>
      </div>
    </div>