
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#homecomponent">Cab Booking Application</a>
          </div>
          <ul class="nav navbar-nav">
              <li>   <a href="http://localhost:4200/book-cab">Booking</a></li>
            <li ><a href="http://localhost:4200/add-report">Feedback</a> </li>
            
            <li><a href="http://localhost:4200/contact-us">Contact us</a></li>
            <!-- <li>   <a href="http://localhost:4200/admin-login">Admin</a></li> -->
            <li><a href="http://localhost:4200/admin-login" ><span class="glyphicon glyphicon-log-in"></span>Admin</a></li>
          </ul>
        

          <button type="button" class="pull-right" style="font-size: larger;color: black"  routerLink="/signup" >Sign Up</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="pull-right" style="font-size: larger;color: black" routerLink="/login" >Login</button>&nbsp;&nbsp;&nbsp; 
<!-- <button type="button" class="pull-right" style="font-size: larger;color: black" routerLink="/admin-login" >Admin</button>&nbsp;&nbsp;&nbsp;  -->


    
        </div>
      </nav>
     
