.container
{
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 100%;
    padding: 10px;
    border-radius:.25rem!important;
    background-color: whitesmoke;
    /* background: linear-gradient(to bottom, #669999 0%, #999966 100%); */

}