<!-- <p style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 20px;">Please fill in the form so that we may contact you</p> -->
<!-- <hr> -->
<app-header></app-header>

<div class="card"
      style="height: 550px; width: 600px; position: sticky; top: 320px ; left:500px; background-color: white; border-radius: 10px;">
      <div class="card-body">
          <head>
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
              </head>
        <br><br>
            <p style="text-align: center; font-family: Arial, Helvetica, sans-serif ;font-size: 25px;">Please fill in the form so that we may contact you</p>
            <br>
<form (ngSubmit)='submit()' #addForm="ngForm">
    <div class="form-group input-group" >
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input type="text" 	class="form-control" [(ngModel)]=contactUs.name name="Name"
    placeholder="Your Name" pattern="[A-Za-z_ ]{4,15}" #name=ngModel required>
  <span *ngIf="name.touched && name.invalid && (name.errors.required || name.errors.pattern)"
    class="alert-warning">
    <p class="error-div" style="color:red ">Please enter atleast 4 chars </p>
  </span>
  </div>
  <br>
  <div class="form-group input-group" >
  <span class="input-group-addon"><i class="	fa fa-envelope-o"></i></span>
  <input type="email" class="form-control" [(ngModel)]=contactUs.email name="Email"
  placeholder="Your Email" #email=ngModel pattern="[a-z0-9]+@[a-z]+.[a-z]{3,5}"
  required>
<span *ngIf="email.touched && email.invalid && (email.errors.required || email.errors.pattern)"
  class="alert-warning">
  <p class="error-div" style="color:red ">Please enter a valid email Id ( in 'abc@gmail.com' format)</p>
</span>
</div>
<br>
<div class="form-group input-group" >
<span class="input-group-addon"><i class="	glyphicon glyphicon-earphone"></i></span>
<input type="number" class="form-control" [(ngModel)]=contactUs.number name="number"
placeholder="Contact Number" #contact=ngModel pattern="[7-9][0-9]{9}" required>
<span
*ngIf="contact.touched && contact.invalid && (contact.errors.required || contact.errors.pattern)"
class="alert-warning">
<p class="error-div" style="color:red ">Please enter a valid contact numeber only </p>
</span>
</div>
<br>

<textarea class="form-control" [(ngModel)]=contactUs.message name="Message"
placeholder="Your Message..."  #message=ngModel rows="4" cols="100"  style='width:600px;height:150px;' required ></textarea>
<span *ngIf="message.touched && message.invalid && (message.errors.required || message.errors.pattern)" 
class="alert-warning">
<p class="error-div" style="color:red ">Please write something for us </p>
</span>
<br>
<button class="btn btn-success"  type="submit" [disabled] = "!addForm.valid">Submit</button>
</form>
</div>
</div>