
<!-- <nav class="navbar navbar-inverse"> -->
    <h2 style="color:rgb(84, 15, 211); text-align: center;">Welcome to Admin Service</h2>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost:4200/home"> Home</a>
      </div>
      <ul class="nav navbar-nav">
       
         <a href="http://localhost:4200/list" class="navbar-brand" style="font-size: large;">Driver Verification</a>&nbsp;&nbsp;&nbsp;
         <a href="http://localhost:4200/report" class="navbar-brand" style="font-size: large;">Customer Issues</a>&nbsp;&nbsp;&nbsp;
         <a href="http://localhost:4200/bookingdetails" class="navbar-brand" style="font-size: large;">Booking Details</a>
        </ul>     
<button class="btn btn-info" (click)="logOut()">LogOut</button><br><br>
    
    </div>
  <!-- </nav> -->
  <div class="container-fluid">
 
  </div> 
  <h2 style="color:rgb(84, 15, 211); text-align: center;">Welcome to Admin Service</h2>



<table class="table table-bordered">

  <tr>
    <th>Report Id</th> 
    <th>Booking Id</th>
    <th>Driver Id</th>
    <th>Customer Id</th>
    <th>Issues</th>
    <th colspan="2">Action</th>
  
  </tr>
  
<tr *ngFor="let report of reports | paginate: { currentPage: p, itemsPerPage: 4 }; let i = index">
     <td>{{report.reportId}}</td> 
    <td>{{report.bookingId}}</td>
    <td>{{report.driverId}}</td>
    <td>{{report.customerId}}</td>
    <td>{{report.issues}}</td>
    <td><button class="btn btn-info" (click)="fetchDriver(report)">Issue</button></td>
    
   
  </tr>
</table>
<pagination-controls (pageChange)="p = $event" ></pagination-controls>