
  <h2 style="color:rgb(84, 15, 211); text-align: center;">Welcome to Admin Service</h2>
<!-- <nav class="navbar navbar-inverse"> -->
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost:4200/home"> Home</a>
      </div>
      <ul class="nav navbar-nav">
     
         <a href="http://localhost:4200/list" class="navbar-brand" style="font-size: large;">Driver Details</a>&nbsp;&nbsp;&nbsp;
         <a href="http://localhost:4200/list-customer" class="navbar-brand" style="font-size: large;">Customer Details</a>&nbsp;&nbsp;&nbsp;
         <a href="http://localhost:4200/bookingdetails" class="navbar-brand" style="font-size: large;">Booking Details</a>
              </ul>
      <button id="button" class="btn btn-info" (click)="logOut()">LogOut</button><br><br>
    </div>
  <!-- </nav> -->
  <div class="container-fluid">
  
  </div> 



  <div class="col-xs-12"  style="margin-left: auto; margin-top: auto;">
      <div class="card" style="width: 500px;" style="background-color: rgba(123, 123, 123, .3);">
          <div class="card-body">
  
  
  <!-- <button class="btn btn-info" (click)="addDriver()">Add</button><br><br> -->
  <table class="table table-bordered">
      <tbody>
      <tr class="active">
  
  <th>Driver ID</th>
  <th>Name</th>
  <th>DOB</th>
  <th>Gender</th>
  <th>Contact Number</th>
  <th>Address</th>
  <th>Vehicle Number</th>
  <!-- <th>Driver Status</th> -->
  <th>Email</th>
    <th>Password</th>  
  <!-- <th>No. of trips</th> -->
  <th>DL</th>
  <!-- <th>Rating</th> -->
  <!-- <th colspan="2">Action</th> -->
  
</tr>

<tr *ngFor="let driver of drivers | paginate: { currentPage: p, itemsPerPage: 4 }; let i = index" class="success" >
 
  <td>{{driver.driverId}}</td>
  <td>{{driver.name}}</td>
  <td>{{driver.dob}}</td>
  <td>{{driver.gender}}</td>
  <td>{{driver.contactNo}}</td>
  <td>{{driver.address}}</td>
  <td>{{driver.vehicleNo}}</td>
  <!-- <td>{{driver.driverStatus}}</td> -->
  <td>{{driver.email}}</td>
    <td>{{driver.password}}</td>  
  <!-- <td>{{driver.numberOfTrips}}</td> -->
  <td>{{driver.drivingLicense}}</td>
  <!-- <td>{{driver.rating}}</td> -->
<!--   
  <td><button class="btn btn-warning" (click)="deleteDriver(driver)">Delete</button></td>
  <td><button class="btn btn-info" (click)="verifyDriver(driver)">Verify</button></td> -->
</tr>
</tbody>
</table>
</div>
</div>
  </div>
<div class="row">
<pagination-controls class="pagination" (pageChange)="p = $event" ></pagination-controls>
 
</div>
