<!-- <app-homecomponent></app-homecomponent> -->
<app-header></app-header>
<body style="background-image: url(../../assets/img/cabs.png);background-repeat: no-repeat;background-size: cover; height: 750px;">

    <div class="card"
      style="height: 400px; width: 350px; position: sticky; top: 10px ; left:500px;  background-color:white; border-radius: 10px;">
      <div class="card-body">
        <h5 class="card-title"
          style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">USER LOGIN</h5>
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
            <form (ngSubmit)='checkLogin()' #addForm="ngForm" >
              <!-- <div class="form-group">
                
                <label>User Name</label><br>
                <input class="form-control" type="text" #email=ngModel [(ngModel)]=customer.email name="email" placeholder="Enter Username"  pattern="[a-zA-z.0-9]{3,}@[a-z]{3,}.[a-z]{2,}" >
                <span *ngIf="email.touched && email.invalid" class="alert-danger" style="text-align: center;">invalid email Id!</span>
                <br>
              </div> -->
              
              <div class="form-group">
                  <label>Enter Your E-Mail:</label><br>
                  <input type="text" class="form-control" [(ngModel)]=customer.email name="email"
                    placeholder="abc@gmail.com" #email=ngModel pattern="[a-z0-9]+@[a-z]+.[a-z]{3,5}"
                    required>
                  <span *ngIf="email.touched && email.invalid && (email.errors.required || email.errors.pattern)"
                    class="alert-warning">
                    <p class="error-div" style="color:red ">Please enter a valid email ID</p>
                  </span>
                  <!-- <br> -->
                </div>
            
              <div class="form-group">
                  <label>Enter Your Password: </label><br>
                  <input type="password" class="form-control" [(ngModel)]=customer.password name="password"
                    placeholder="Enter Password" #password=ngModel pattern="[0-9]{4,8}" required>
                  <span
                    *ngIf="password.touched && password.invalid && (password.errors.required || password.errors.pattern)"
                    class="alert-warning">
                    <p class="error-div" style="color:red ">Password should contain minimum 8 characters</p>
                  </span>
               
                </div>
              
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-4"></div>
                  <div class="col-xs-7">
                    <button class="btn btn-success" type="submit" [disabled]="!addForm.valid">Login</button>
                  </div>
                  <!-- <div class="col-sx-1"></div> -->
                </div>
              </div>
            </form>
        <P style="text-align: center;">Or</P>

<!-- 
            <div class="row">
              <div class="col-xs-12">
                <p style="text-align: center;">Register As</p>
              </div>
            </div> -->
            <!-- <div class="row">
              <div class="col-xs-4">
                <button class="btn btn-primary" (click)="registerUser()">User</button>
              </div> -->
              <!-- <div class="col-xs-4"></div>
              <div class="col-xs-4">
                <button class="btn btn-primary" (click)="registerCustomer()">User</button>
              </div> -->

              <!-- <div class="container mt-5">
                  
             
                    <div class="col-md-4 mt-2 m-auto ">
                        <button class="loginBtn loginBtn--facebook" (click)="facebook()">
                            Login with Facebook
                          </button>
                    
                  </div>
                </div>
                <br>
                <div class="container mt-5">
                  
                 
                      <div class="col-md-4 mt-2 m-auto ">
                          <button class="loginBtn loginBtn--facebook" (click)="google()">
                              Login with Google
                            </button>
                   
                    </div>
                  </div> -->
                  <div class="container mt-5">
                  
                 
                    <div class="col-md-4 mt-2 m-auto ">
                  <button type="button" class="btn btn-outline-success and-all-other-classes btn-primary"  style="align-content: center;"> 
                    <a href="https://www.facebook.com//" style="color: inherit"> Login with FaceBook </a>
                  </button>
                  </div>
                  </div>
                  <br>
                  <div class="container mt-5">
                  
                 
                    <div class="col-md-4 mt-2 m-auto ">
                  <button type="button" class="btn btn-outline-success and-all-other-classes btn-primary" style="align-content: center;"> 
                    <a href="https://accounts.google.com/" style="color:inherit"> Login with Google </a>
                  </button>
                  </div>
                  </div>
            </div>
          
          </div>
        </div>
   
</div>
</body>
