

    <h2 style="color:rgb(84, 15, 211); text-align: center;">Welcome to Admin Service</h2>
    <div class="container-fluid">
      <!-- <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost:4200/home">Admin Service</a>
      </div> -->
      <ul class="nav navbar-nav">
         
         <a href="http://localhost:4200/list" class="navbar-brand" style="font-size: large;">Driver Details</a>&nbsp;&nbsp;&nbsp;
         <a href="http://localhost:4200/list-customer" class="navbar-brand" style="font-size: large;">Customer Details</a>&nbsp;&nbsp;&nbsp;
         <a href="http://localhost:4200/bookingdetails" class="navbar-brand" style="font-size: large;">Booking Details</a>
        </ul>
<button class="btn btn-info" (click)="logOut()">LogOut</button><br><br>
    

    </div>
  <!-- </nav> -->
  <div class="container-fluid">
  
  </div> 



  