<!-- <app-homecomponent></app-homecomponent> -->
<app-header></app-header>
<body>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>

<div class="col-md-6">
    
    <br><br>
    <i class="material-icons" style="font-size: 30px;" >&#xeb3c;</i>
    <table>
        <td><h2>Sign up for Driver </h2></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <td><i class="fa fa-long-arrow-right" style="font-size: 40px;"  routerLink="/driver-signup"></i></td>
        
    </table>
    
    
    </div>
    <div class="pull-right" style="font-size: 30px;"><i class="material-icons" routerLink="/home" style="align-items:right;">&#xe5cd;</i></div>
    <div class="col-md-6">
         
       
         <i class="material-icons" style="font-size: 30px;">&#xe8a6;</i>
        
        <table>
            <td><h2>Sign Up for Rider</h2></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <td><i class="fa fa-long-arrow-right" style="font-size: 40px;" routerLink="/rider-signup">
               
                
            </i></td>
        </table>
    </div>
            
