
<br>
<nav class="navbar navbar-light" style="background-color:black">
    <!-- Navbar content -->
    <a href="#home">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#home">About us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#home">Help</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="pull-right" style="font-size: larger;color: black" (click)="register()">Sign Up</button>&nbsp;&nbsp;&nbsp;
        
    <button type="button" class="pull-right" style="font-size: larger;color: black" (click)="login()">Login</button>&nbsp;&nbsp;&nbsp;
        
  </nav>
    