
<!-- <br>
<nav class="navbar navbar-light" style="background-color:black">

    <a href="#homecomponent">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#homecomponent">About us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://localhost:4200/book-cab">Booking</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://localhost:4200/add-report">Help</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://localhost:4200/admin-login">Admin</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="pull-right" style="font-size: larger;color: black" (click)="register()">Sign Up</button>&nbsp;&nbsp;&nbsp;
        
    <button type="button" class="pull-right" style="font-size: larger;color: black" (click)="login()">Login</button>&nbsp;&nbsp;&nbsp;
  
  </nav> -->
   <div class="bgimg" ></div> 
    